body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #d8d8d8;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    }

.wiki-content {
    padding: 15px;
}

.wiki-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.img-container {
    text-align: center;
}

.wiki-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.wiki-item {
    background-color: white;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.wiki-header {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    background-color: #ff0000;
    color: #fff;
}

@media (min-width: 600px) {
    .wiki-content {
        display: flex;
        flex-direction: row-reverse;
    }
    .wiki-text {
        min-width: 50%;
        max-width: 50%;
    }
    .img-container {
        min-width: 50%;
        max-width: 50%;
    }
}
